<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">심사 유저 목록</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birth</th>
                            <th>Height</th>
                            <th>Nickname</th>
                            <th>Profile1</th>
                            <th>Profile2</th>
                            <th>Profile3</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</th:block>
</html>

<script>
    $(document).ready( function () {
        $('#dataTable').DataTable({
            "serverSide":true,
            "processing": true,
            "ajax": {
                "url": "/admin/guests",
                "dataSrc": function (res) {
                    return res.data;
                }
            },
            "columns": [
                {"data": "name"},
                {"data": "birth"},
                {"data": "height"},
                {"data": "nickname"},
                {"data": "profiles.0",
                    "render": function (data){
                        if (data.length <= 1)
                            return 'X';
                        else
                            return '<a href="'+data+'">프로필1<a>'
                    }
                },
                {"data": "profiles.1",
                    "render": function (data){
                        if (data.length <= 1)
                            return 'X';
                        else
                            return '<a href="'+data+'">프로필2<a>'
                    }
                },
                {"data": "profiles.2",
                    "render": function (data){
                        if (data.length <= 1)
                            return 'X';
                        else
                            return '<a href="'+data+'">프로필3<a>'
                    }
                }
            ]
        });
    } );
</script>